{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/cart/cart_detail.css' %}">{% endblock %}

{% block content %}

<div class="container-fluid col-sm-11 col-lg-8 my-3">
    <a href="{% url 'coffees:all_coffees' %}" id="continue-shopping" class="mt-3">&#8592; Continue shopping</a>

    {% if cart %}

    <h2 class="fw-light py-4 text-center">Cart</h2>

    <!-- Cart Items Table -->
    <table class="table mb-4">

        <thead>
            <th></th>
            <th>Product</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Total</th>
        </thead>

        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td width="14%">
                    <a href="{% url 'coffees:coffee_detail' pk=product.id %}">
                        <img src="{{ product.image.url }}">
                    </a>
                </td>
                <td>{{ product.name }}</td>

                {% if product.out_of_stock %}
                    <td></td>
                    <td class="text-center px-0" width="10%">
                        <p class="fw-light mb-0">Out of stock</p>
                        <a id='remove-link' href="{% url 'cart:cart_remove' product.id %}">Remove</a>
                    </td>
                    <td></td>
                {% else %}
                    <td class="text-center" width="10%">${{ item.price|floatformat:2 }}</td>
                    <td class="text-center" width="10%">
                        <form action="{% url 'cart:cart_update' product_id=product.id %}" method="post" class="qty-input-form" name="product-{{product.id}}">
                            {% csrf_token %}
                            <input type="number" data-product="product-{{product.id}}" name="quantity" min="1" max="{{product.amount}}" value="{{item.quantity}}" class="qty-input">
                        </form>
                        <a id='remove-link' href="{% url 'cart:cart_remove' product.id %}">Remove</a>
                    </td>
                    <td class="text-center" width="10%">${{ item.total_price|floatformat:2 }}</td>
                {% endif %}

            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>

    </table>

    <!-- Total Price -->
    <div class="row mb-4">
        <div class="col total-price">
            <h4 class="mt-2">Total: ${{cart.get_total_price|floatformat:2}}</h4>
        </div>
        <div class="col-3">
            <a href="{% url 'shop:checkout' %}" class="btn" id="checkout-link">Checkout</a>
        </div>
    </div>

    <!-- Empty Cart -->
    {% else %}
    <h3 class="fw-light my-5 mx-3">There is nothing in your cart yet.</h3>
    {% endif %}

</div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'coffee_shop/js/quantity_input_cart.js' %}"></script>
{% endblock %}
