{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/accounts/signup.css' %}">{% endblock %}

{% block content %}

<div class="container-fluid col-md-6 col-11 signup-jumbotron">

        <h1 class="display-5">Create Account</h1>

        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <p>{{ error }}</p>
            {% endfor %}
        {%  endif %}

        <!-- Sign Up Form -->

        <form method="POST">
            {% csrf_token %}
            <p>{{ form.username }}</p>
            <p>{{ form.first_name }}</p>
            <p>{{ form.last_name }}</p>
            <p>{{ form.email }}</p>
            <p id="password1">{{ form.password1 }}</p>
            <p id="password2">{{ form.password2 }}</p>
            <input type="submit" id="submit-button" class="btn btn-dark my-3" value="Submit">
        </form>

</div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'coffee_shop/js/signup_popovers.js' %}"></script>
{% endblock %}
