table{
    width: 90%;
}

.order-items td{
    font-size: 15px;
    font-weight: 400;
    border: 0.5px solid black;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#order-date{
    font-weight: 400;
}

#total-price{
    font-weight: 500;
}

#status-delivered{
    color:#068639;
}

#status-ordered{
    color: #cea007;
}

#payment-button{
    width: 50px;
    height: 35px;
    font-size: 15px;
}