.payment-div {
    text-align: center;
}

.payment-div .btn-dark {
    width: 300px;
    height: 150px;
    font-size: 90px;
    font-weight: 500;
    opacity: 0.85;
    border-radius: 25px;
}

.payment-div .btn-dark:hover {
    opacity: 1;
}