{% extends "base.html" %}
{% load static %}

{% block title %}{{coffee.name}}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/coffees/coffee_detail.css' %}">{% endblock %}

{% block content %}

<div class="container-fluid px-3 mb-4">
    <div class="row">

        <!-- Coffee Image -->
        <div class="col-lg-6 col-sm-10">
            <img class="img-fluid" src="{{coffee.image.url}}">
        </div>

        <div class="col-lg-5 col-sm-10 mx-2 mt-2 pt-5">

            <!-- Header -->
            <div class="row align-items-end">
                <div class="col-9">
                    <p class="display-5 mb-1">{{coffee.name}}</p>
                </div>
                <div class="col">
                    <p id="coffee-price">${{coffee.price|floatformat:2}}</p>
                </div>
            </div>

            <!-- Add to cart -->
            <form action="{% url 'cart:cart_add' product_id=coffee.id %}" method="post">
                <div class="row">
                    <div class="col quantity">
                        <input type='button' value='-' class='minus' field='quantity'>
                        <input type='text' name='quantity' value='1' class='qty'>
                        <input type='button' value='+' class='plus' field='quantity'>
                    </div>
                    <div class="col">
                        {% csrf_token %}
                        <input type="hidden" name="from_template" value="coffee_detail">
                        {% if coffee.out_of_stock %}
                            <button class="btn btn-dark disabled">Out of Stock</button>
                        {% else %}
                            <input class="btn btn-dark" type="submit" value="Add to cart">
                        {% endif %}
                    </div>
                </div>
            </form>

            <!-- Coffee description -->
            <h4 class="fw-bold mt-5">{{coffee.notes}}</h4>
            <p class="fw-light">Country: {{coffee.country}}</p>
            <p class="fw-light">Region: {{coffee.region}}</p>
            <p class="fw-light">Altitude: {{coffee.altitude}}</p>
            <p>{{coffee.description}}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'coffee_shop/js/quantity_input_coffee.js' %}"></script>
{% endblock %}
