{% extends "base.html" %}
{% load static %}

{% block title %}{% if category_name %}{{category_name}}{% else %}All Coffees{% endif %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/coffees/coffee_list.css' %}">{% endblock %}

{% block content %}

<div class="px-3 mt-2 mb-4 m-auto col-11">

    <h1 class='display-5 mb-4'>{% if category_name %}{{category_name}}{% else %}All Coffees{% endif %}</h1>
    <div class="row row-cols-md-3">

        {% for coffee in coffee_list %}

            <!-- Coffee Card -->
            <div class="card mx-3">
                <a href="{% url 'coffees:coffee_detail' pk=coffee.pk %}">
                    <img class="card-img-top" src="{{coffee.image.url}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-title"><a href="{% url 'coffees:coffee_detail' pk=coffee.pk %}">{{coffee.name}}</a></p>
                    <p class="col fw-bold mb-3">${{coffee.price|floatformat:2}}</p>

                    <!-- Add to Cart Button -->
                    <form action="{% url 'cart:cart_add' product_id=coffee.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">
                        {% if category_pk %}
                            <input type="hidden" name="from_template" value="coffee_category:{{category_pk}}">
                        {% else %}
                            <input type="hidden" name="from_template" value="coffee_list">
                        {% endif %}

                        {% if coffee.out_of_stock %}
                            <button class="btn disabled cart-button">Out of Stock</button>
                        {% else %}
                            <input class="btn btn-dark cart-button" type="submit" value="Add to cart">
                        {% endif %}
                    </form>
                
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}