{% extends "base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/shop/checkout.css' %}">{% endblock %}

{% block content %}

<div class="container-fluid col-lg-9 col-11 mt-2 mb-3">

    <div class="row mt-3">

        <!-- Order Forms -->
        <div class="col-7 px-4 order-forms-outer">
            <div class="order-forms-inner">
                
                <a href="{% url 'cart:cart_detail' %}" id="cart-link">&#8592; Back to cart</a>

                <form method="POST" action="{% url 'shop:create_order' %}" id="order-form">
                    {% csrf_token %}

                    <!-- Contact Info -->
                    <div class="my-3">
                        <h4 class="fw-light pb-2">Contact information</h4>

                        {% if not request.user.is_authenticated %}
                        <p class="py-1">Already have an account? 
                            <a href="#login-modal" role="button" id="login-link" data-bs-toggle="modal" data-target="#LoginModal">Log in</a>
                            to save your order history.</p>
                        {% endif %}

                        <div class="row">
                            <p class="col-6">{{contact_form.first_name}}</p>
                            <p class="col-6">{{contact_form.last_name}}</p>
                        </div>
                            {{contact_form.email}}
                    </div>

                    <!-- Shipping Address -->
                    <div class="shipping-address mb-3">
                        <h4 class="fw-light pb-2">Shipping Address</h4>
                        <p>{{address_form.address}}</p>
                        <div class="row">
                            <p class="col-6">{{address_form.city}}</p>
                            <p class="col-6">{{address_form.state}}</p>
                        </div>
                        <p>{{address_form.postal_code}}</p>
                        <p>{{address_form.country}}</p>
                    </div>

                    <!-- Payment Method -->
                    <div class="payment-method mb-2">
                        <h4 class="fw-light pb-2">Payment method</h4>
                        {{payment_form.payment}}
                    </div>

                    <input class="btn btn-warning" type="submit" id="order-button" value="Place order">
                </form>
            </div>
        </div>

         <!-- Order Items -->
         <div class="col-5 order-items mt-3">
            <div class="text-white order-area pb-4 px-4">

                <table class="table-borderless">
                <h3 class="py-3 fw-light">Your Order:</h3>
                {% for item in cart %}
                    {% with product=item.product %}   
                        {% if item.total_price %}         
                        <tr class="order-item">
                            <td width="10%"><img src="{{ product.image.url }}"></td>
                            <td width="70%" class="px-3">{{ product.name }}</td>
                            <td width="7%">x{{ item.quantity }}</td>
                            <td width="7%">${{ item.total_price|floatformat:2 }}</td>
                        </tr>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                </table>
           
                <!-- Coupon Form -->
                <form action="{% url 'coupons:apply' %}" method="post" id="coupon-form">
                    <div class="row my-3">
                        {% csrf_token %}
                        <span class="col-7">{{coupon_form}}</span>
                        <button class="col-5 btn btn-dark" id="submit-coupon">Apply</button>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <p id="error-message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            
                <!-- Total Price -->
                <hr class="mt-2">
                {% if request.session.coupon_id %}
                    <div class="row coupon-applied">        
                        <h5 class="col fw-light"><a href="{% url 'coupons:remove' %}" id="remove-coupon">&#x2715</a> {{request.session.coupon_code}} {{request.session.coupon_discount}}% off</h5>
                    </div> 
                        <h5 class="col fw-light" style="text-align:right;">Total: ${{cart.get_coupon_price|floatformat:2}}</h5>
                {% else %}
                    <h5 class="mt-3 fw-light total-price">Total: ${{cart.get_total_price|floatformat:2}}</h5>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <form method="POST" action="{% url 'accounts:login' %}">
                <div>
                    {% csrf_token %}
                    <p class="my-1">Username</p>
                    <p class="mb-3">{{ login_form.username }}</p>
                    <p class="my-1">Password</p> 
                    <p class="my-1">{{ login_form.password }} </p>
                </div>
                <p class="text-muted mt-3">Don't have an account yet? <a class='ml-2' id="signup-link" href="{% url 'accounts:signup' %}">Sign Up</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
          <input type="hidden" name="checkout_login" value="True">
          <input type="submit" class="btn btn-dark" id="login-button" value="Login"> 
        </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}