{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Order History{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'coffee_shop/css/shop/order_history.css' %}">{% endblock %}

{% block content %}

<div class="col-11 col-lg-6 mx-auto mt-4">

    <p class="col display-6 mb-4">Your orders
        <img src="{% static 'coffee_shop/images/coffee_bean.png' %}" width="3%">
    </p>

    {% if not order_list %}
        <h4 class="fw-light my-5">You have no orders.</h4>
    {% endif %}

    <!-- Order list -->
    {% for order in order_list %}
        <div class="mb-5">
            <p class="mb-1" id="order-date">{{order.date_ordered|date}} |
                {% if order.complete %}<span id="status-delivered">Shipped</span>{% else %}<span id="status-ordered">Ordered</span>{% endif %}</p>
            <h3>Order #{{order.pk}}</h3>

            <table class="order-items" width="100%">
                {% for product in order_items|get_item:order.pk %}
                <tr>
                    <td width='80%'>{{product.item.name}}</td>
                    <td class="text-center" width='10%'>x{{product.quantity}}</td>
                    <td class="text-center" width='10%'>${{product.cost|floatformat:2}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" id="total-price">Total: ${{order.total_price|floatformat:2}}</td>
                </tr>
            </table>

            {% if not order.complete %}
                <p class="mt-2 mb-1">Payment status: {{order.get_payment_display}}</p>
                {% if order.payment == 'Awaiting payment' %}
                    <a href="{% url 'shop:payment' pk=order.pk %}" class="btn btn-dark" id="payment-button">Pay</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}
