html, body{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#submit-button{
    background-color: #4f3025;
    width: 90px;
    height: 45px;
    border-radius: 7px;
    font-size: 20px;
    color: #F1FAEE;
    cursor: pointer;
    text-align: center;
}

/* Navbar */

.navbar{
    font-size: 23px;
    height: 100px;
    position: sticky;
}

.nav-link{
    opacity: 0.80;
    font-weight: 500;
}

.nav-link:hover{
    opacity: 1;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0; 
 }

 .dropdown-menu[data-bs-popper]{
    left: inherit;
 }

.navbar a{
    width:auto;
}

.navbar.scrolled .loginNavButton{
    background-color: transparent !important;
    color:black;
    opacity: 0.80;
}

#login-nav-button{
    background-color: rgb(248, 187, 5);
    width: 95px;
    height: 50px;
    border-radius: 7px;
    color: #F1FAEE;
    cursor: pointer;
    font-size: 23px;
}

#cart-total{
    display: block;
    text-align: center;
    color:#fff;
    background-color: rgb(74, 74, 74);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 12px;
}

.search-form{
    margin-right: 27px;
    margin-top: 7px;
    border: none;
    border-bottom: 0.7px solid black;
}

/* Search Form Results */

.search-results{
    position:absolute; 
    border-radius: 5px; 
    width: 250px;
}

.search-results a{
    color:black; 
    text-decoration:none; 
    font-size:14px; 
    font-weight:400;
}

#search-coffee-list{
    background: #ffffff; 
    opacity: 0.9; 
    padding-left: 5px;
}

#search-no-results{
    font-size:14px; 
    font-weight:400;
    position: absolute; 
    margin-top: 8px;
}

/* Footer */

#copyright-link{
    color: #6e777f;
    text-decoration: none;
}

@media (max-width: 700px){
    .navbar{
        font-size: 15px;
    }

    .nav-item li{
        font-size: 15px;
    }

    #profile-pic svg{
        width: 33px;
        height: 33px;
        vertical-align: middle;
    }

    #profile-pic svg rect{
        width: 33px;
        height: 33px
    }

    #profile-pic svg text{
        font-size: 13px !important;
    }

    .navbar-collapse{
        position: absolute;
        font-weight: 300;
        margin-top: 175px;
        margin-left: 110px;
        background-color: white;
        border: 1px solid rgb(196, 195, 195);
        border-radius: 7px;
        padding: 7px;
    }
}

@media (max-width: 991px){
    .navbar{
        position: relative;
        height: 150px;
    }

    #login-button-name{
        display: none;
    }

    .cart-login{
        margin-left: 0 !important;
    }

    .navbar-nav li{
        display: inline-block !important;
    }

    .profile-dropdown{
        padding-left: 0px;
    }

    .search-form{
        display:none;
    }

    .dropdown-menu.show{
        display: grid;
    }

    .dropdown:hover .dropdown-menu{
        display:grid;
    }
}