{% extends "admin/base_site.html" %}
{% load custom_tags %}
{% load static %}

{% block extrahead %}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'coffee_shop/css/admin/order_list.css' %}">
{% endblock %}

{% block content %}

<div class="px-3 mt-2 mb-4 m-auto col-11 orders">
    <div class="row">

        {% for order in orders %}
        <div class="card m-3 p-3">

            <h3>Order #{{order.pk}}
                {% if order.complete %}
                <button class="btn btn-default disabled" id="completed">Completed</button>
                {% elif order.payment == "Awaiting payment" %}
                <button class="btn btn-default disabled" id="awaiting-payment">Awaiting Payment</button>
                {% endif %}
            </h3>

            <h5>Customer:</h5>
            <p>{{order.first_name}} {{order.last_name}}</p>
            <p>{{order.email}}</p>

            <h5>Shipping Address:</h5>
            <p>{{order.address.address}}</p>
            <p>{{order.address.postal_code}} {{order.address.city}}, {{order.address.state}}</p>
            <p>{{order.address.country.name}}</p>

            <h5>Order Items:</h5>
                <table>
                {% for product in order_items|get_item:order.pk %}
                    <tr>
                        <td>{{product.item.name}}</td>
                        <td>x{{product.quantity}}</td>
                    </tr>
                {% endfor %}
                </table>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
